<div class="product_info">
    <div class="gallery_image">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1603787081207-362bcef7c144?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"
                alt="leather-jacket-removebg">
        </div>
        <div class="image">
            <img src="https://images.unsplash.com/photo-1603787081207-362bcef7c144?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"
                alt="leather-jacket-removebg">
        </div>
        <div class="image">
            <img src="https://images.unsplash.com/photo-1603787081207-362bcef7c144?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"
                alt="leather-jacket-removebg">
        </div>
    </div>
    <div class="product">
        <div class="product_image">
            <img src="https://images.unsplash.com/photo-1603787081207-362bcef7c144?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"
                alt="leather-jacket-removebg">
        </div>
        <div class="product_description">
            <p class="description">
                Suit vest in woven fabric with shiny woven fabric at back.
                Buttons at front, a chest pocket, welt front pockets, and adjustable tab at back. Lined.
            </p>
        </div>
    </div>
    <div class="info">
        <div class="product_name">
            <h3>Louis Vuitton - black</h3>
            <span>Dark Invasion</span>
        </div>

        <p class="description">
            Suit vest in woven fabric with shiny woven fabric at back.
            Buttons at front, a chest pocket, welt front pockets, and adjustable tab at back. Lined.
        </p>

        <div class="size_container">
            <p>SELECT A SIZE</p>
            <div class="sizes">
                <div class="size">
                    <span id="size" class="small">S</span>
                </div>
                <div class="size">
                    <span id="size" class="size-medium">M</span>
                </div>
                <div class="size">
                    <span id="size" class="size-large">L</span>
                </div>
                <div class="size">
                    <span id="size" class="size-extra_large">XL</span>
                </div>
            </div>
        </div>

        <div class="color_container">
            <p>SELECT A COLOR</p>
            <div class="colors">
                <div class="color" style="background-color: blueviolet;">
                </div>
                <div class="color" style="background-color: salmon;">
                </div>
                <div class="color" style="background-color: chartreuse;">
                </div>
                <div class="color" style="background-color: lightgreen;">
                </div>
            </div>
        </div>


        <div class="quantity_container">
            <p>QUANTITY</p>
            <div class="quantity">
                <button class="btn">+</button>
                <p>1</p>
                <button class="btn">-</button>
            </div>
        </div>

        <p class="price">R1700</p>

        <button class="add_to_cart">add to cart</button>
    </div>
</div>