.heading{
  padding:1px 0px 50px 152px;
}
.container{
  background-color: #c2c3c4;
}
.btn{
  padding-top: 12px;
}
.row{
  margin: 10px;
}
.Imag{
  width: 390px;
  position: absolute;
  left: 750px;
  top: 225px;
}
