.heading{
  padding:1px 0px 50px 152px;
}
.container{
background-color: #ddd0c8;
}
.btnn{
padding-bottom: 10px;
}
.row{
  margin: 10px;
}
.Imag{
  width: 500px;
  position: absolute;
  left: 950px;
  top: 180px;
}
