<div class="container ">



    <div class="empty " *ngIf="products.length < 1">
        <div class="info">
         <h4>You do not have any items in your cart</h4>
        <a>Start Shopping</a>
        </div>
        
        
    </div>
    <div>
        <h1>Your Cart </h1>
    </div>
    
    <div id="table-cart-list" class="table-responsive-md">
        <table class="table" aria-describedby="product-table">
            <thead>
                <tr>
                    <th>ITEM</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let prod of products">
                
                    <td>
                    <div class="product-info">   
                       
                            <img [src]="prod.url" alt="jacket"/>
                        
                       
                        
                            <p>{{prod.productName}}
                                <br>
                            Color : {{prod.color}}
                            <br>
                            Size: {{prod.size}}
                            <br>
                            <a>X</a>
                        </p>
                    </div>   
                   </td> 
                
                   <td >
                    R{{prod.price}}

                   </td>

                    <td  >
                  
                        <button type="button" class="btn" id="btn-plus" (click)="increment(prod)">+</button>

                        <span class="qty-span">{{prod.qty}}</span>

                        <button type="button" class="btn" id="btn-minus" (click)="decrement(prod)">-</button>
                    
                       
                    </td>  
                        
                    <td id="sub_total" >
                       R  {{prod.price * prod.qty}} 
                         
                    </td>
             
                </tr>
             
            </tbody>
           
            
        </table>
    </div>
   
    <div class="pricing-table">
    <table aria-describedby="pricing-total">
        
        <tr >
            <td>Subtotal</td>
            <td >R799.98</td>
        </tr>
        <tr>
            <td>Tax</td>
            <td >R39.00</td>
        </tr>
        <tr>
            <td>Delivery</td>
            <td>R50.00</td>
        </tr>
        <tr>
            <td>Grand total</td>
            <td >R489.98</td>
        </tr> 
         </table>
   </div>
  
    
        <button type="button" id="check-btn" class="btn btn-secondary"> Proceed to check out</button> 
    
</div>