
.cart-list{
    width: 100%;
     
}


td,th{
    text-align: center;
    padding: 10px 5px;
    
}

td img{
    width: 100px;
    height: 100px;
  
}
td input{
   margin-top: 20px;
}

h1{
    text-align: center;
}
.pricing-table{
    float: right;
    width: 30%;
 
}
td button{
    display: flex;
    float: inline-end;
}


#checkout-button{
    float: right;
    margin-left: 70px;

}
#amountInput{
    width: 100px;
    padding-left: 2em;
}
  