
.cart-list{
    width: 100%;
     
}
td{
    text-align: center;
}
img{
    width: 250px;
}
h1{
    text-align: center;
}
.pricing-table{
    float: right;
    width: 40%;
}
.checkout-button{
    float: right;
}
  