<div class="container ">
    <div>
        <h1>Your Cart </h1>
    </div>
    
    <div class="table-responsive-md">
        <table class="table" aria-describedby="product-table">
            <thead>
                <tr>
                    <th>ITEM</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div class="product-info">
                        <div>
                            <img [src]="images[0].url" alt="jacket"/>
                        </div>
                       
                        <div class="product-details">
                            <p>Long sleeve jacket</p>
                            <p>Color : Brown</p>
                            <p>Size: Small</p>
                        </div>
                       
                        
                    </div></td> 
                    <td>R399.00</td>
                    <td>
                        <input type="number" value='1' min="1" id="amountInput">
                    </td>
                    <td>R399.00</td>
                   </tr>
            
            </tbody>
          
            
        </table>
    </div>
   
    <div class="pricing-table">
    <table aria-describedby="pricing-total">
        
        <tr>
            <td>Subtotal</td>
            <td>R399.99</td>
        </tr>
        <tr>
            <td>Tax</td>
            <td>R39.00</td>
        </tr>
        <tr>
            <td>Delivery</td>
            <td>R50.00</td>
        </tr>
        <tr>
            <td>Grand total</td>
            <td>R489.98</td>
        </tr> 
        <tr>
            <td>
                <button type="button" id="check-btn" class="btn btn-secondary"> Proceed to check out</button>  
            </td>
           
        </tr>     
    </table>
   
    </div>
  
    
</div>
