<div class="container ">
    <div>
        <h1>Your Cart </h1>
    </div>
    
    <div id="table-cart-list" class="table-responsive-md">
        <table class="table" aria-describedby="product-table">
            <thead>
                <tr>
                    <th>ITEM</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info" *ngFor="let prod of products">
                        
                            <img [src]="prod.url" alt="jacket"/>
                        
                       
                        <div class="product-details">
                            <p>{{prod.productName}}
                                <br>
                            Color : {{prod.color}}
                            <br>
                            Size: {{prod.size}}
                            <br>
                            <a>X</a>
                        </p>
                           
                        </div>
                       
                        
                    </div>
                </td> 
                    <td *ngFor="let prod of products">R{{price}}</td>

                    <td class="td-qty" >
                    <div >
                        <button type="button" class="btn" id="btn-plus" (click)="increment()">+</button>

                        <span class="qty-span">{{qty}}</span>

                        <button type="button" class="btn" id="btn-minus" (click)="decrement()">-</button>
                    </div>
                       
                    </td>  

                    <td> R{{a_total_price}}</td>

                   </tr>
            
            </tbody>
           
            
        </table>
    </div>
   
    <div class="pricing-table">
    <table aria-describedby="pricing-total">
        
        <tr>
            <td>Subtotal</td>
            <td >R399.99</td>
        </tr>
        <tr>
            <td>Tax</td>
            <td >R39.00</td>
        </tr>
        <tr>
            <td>Delivery</td>
            <td>R50.00</td>
        </tr>
        <tr>
            <td>Grand total</td>
            <td >R489.98</td>
        </tr> 
         </table>
   </div>
  
    
        <button type="button" id="check-btn" class="btn btn-secondary"> Proceed to check out</button> 
    
</div>
