<div class="container-all">
<mat-toolbar>
    <span>Seeweq</span>

    <div class="space"></div>
    <a class="btn btn-transparent" href="#" role="button">About</a>
    <a class="btn btn-transparent" href="#" role="button">Contact</a>
    <a class="btn btn-transparent" href="#" role="button"><mat-icon>shopping_cart</mat-icon></a>
</mat-toolbar>
    <div class="d-flex justify-content-center">
        <div class="hstack gap-3">
            
            <div class="category"><h6>WOMEN</h6></div>
            <div class="vr"></div>
            <div class ="category"><h6>MEN</h6></div>
            <div class="vr"></div>
            <div class ="category"><h6>KIDS</h6></div>
            <div class="vr"></div>
            <div class ="category"><h6>BEAUTY</h6></div>
            <div class="vr"></div>
            <div class="category"><h6>HOME</h6></div>
            <div class="vr"></div>
            <div class="category"><h6>BRANDS</h6></div>
            <div class="vr"></div>
            <div class="category text-danger"><h6>SALE</h6></div>
        </div>
    </div>
</div>
    

