<mat-toolbar>
    <span>Seeweq</span>

    <div class="space"></div>
    <a mat-button>About</a>
    <a mat-button>Contact</a>
    <a mat-button><mat-icon>shopping_cart</mat-icon>Cart</a>
</mat-toolbar>
    <div class="categories">
        <div class="hstack gap-3">
            
            <div class="category"><h6>WOMEN</h6></div>
            <div class="vr"></div>
            <div class ="category"><h6>MEN</h6></div>
            <div class="vr"></div>
            <div class ="category"><h6>KIDS</h6></div>
            <div class="vr"></div>
            <div class ="category"><h6>BEAUTY</h6></div>
            <div class="vr"></div>
            <div class="category"><h6>HOME</h6></div>
            <div class="vr"></div>
            <div class="category"><h6>BRANDS</h6></div>
            <div class="vr"></div>
            <div class="category"><h6 color="warn" >SALE</h6></div>
        </div>
    </div>
    

