<mat-toolbar>
    <span>Seeweq</span>

    <div class="space"></div>
    <a mat-button>About</a>
    <a mat-button>Contact</a>
    <a mat-button><mat-icon>shopping_cart</mat-icon>Cart</a>
</mat-toolbar>
    <section>
        <div class="hstack gap-3">
            <div class="category"><h6 class = "text-sm">WOMEN</h6></div>
            <div class="vr"></div>
            <div class ="category"><h6 class = "text-sm">MEN</h6></div>
            <div class="vr"></div>
            <div class ="category"><h6 class = "text-sm">KIDS</h6></div>
            <div class="vr"></div>
            <h6 class = "text-sm-center">Men</h6>
            <div class="vr"></div>
            <h6 class = "text-sm-center">Men</h6>
            <div class="vr"></div>
        </div>
    </section>

