.space{
    flex: auto;
}
mat-toolbar {
 background-color: #DDD0C8;
 

}
.categories{
    background-color: #DDD0C8;  
}
.vr{
    height: 1.5rem;
}
.category{
    margin-top: 5px;
    margin-bottom: 15px;
    
     
}
mat-button{
    font-size: 5rem;
}
